@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.bcLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2% 2%;
    row-gap: 10px;

    .bcContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;

        .bcContentFilters {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

.tab {
    min-width: 8.875rem;

    &:active,
    &:focus {
        outline: 2px solid var(--brand-03) !important;
    }

    &[aria-selected='true'] {
        box-shadow: inset 0 2px 0 0 var(--brand-03) !important;
    }
}