.cvLayout{
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    row-gap: 10px;
    width: 100%;
    .cvHeaderSection{
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        width: 100%;
        .headerTitle{
            display: flex;
            flex-direction: row;
            width: 50%;
        }
        .headerAction{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 50%;
        }
    }
    .cvContentSection{
        display: flex;
        flex-direction: column;
        .cvRow{
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 10px;
            .cvWidth{
                display: flex;
                width: 45%;
            }
        }
    }
}

.claimList{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.claimSubmitBtn {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    float: right;
}