.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
}

.dropdownItem {
    display: flex;
    justify-self: flex-end;
    width: 25%; 
    min-width: 180px; 
    max-width: 280px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.dropdownContainer {
  .cds--list-box__menu-item__option {
    font-weight: 600; // bold-ish
  }

  .cds--list-box__field {
    font-weight: 600; // selected item label also bold
  }
}