.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

.card {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    flex: 1 1 calc(33.33% - 1rem);
  }
}

@media (max-width: 1024px) {
  .container .card {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 600px) {
  .container .card {
    flex: 1 1 100%;
  }
}


h4 {
    font-weight: bold;
}

.dropdownItem {
    display: flex;
    justify-self: flex-end;
    width: 25%; 
    min-width: 180px; 
    max-width: 280px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.dropdownContainer {
  .cds--list-box__menu-item__option {
    font-weight: 600; 
  }

  .cds--list-box__field {
    font-weight: 600; 
  }
}

.queue {
    color: palevioletred
}
.total {
    color: gray;
}

.triage {
    color: yelllow;
}
.consultation {
    color: green;
}

.emergency {
    color: red;
}