.container {
    border: 1px solid #9e9e9e;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}

.roomName {
    margin-bottom: 0.5rem;
    font-size: large;
    font-weight: bold;
}

.field {
    margin: 0.25rem 0 0;
}

.button {
    margin-top: 0.5rem;
}