

.container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #9e9e9e;
    padding: 1rem;
    margin: 1rem;
}



.card {
    width: 18rem;
    border: 1px solid #b0b0b0;
    padding: 1rem;
    margin: 1rem;
}