.addBillItemsModalLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    .formRow{
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 5px;
        .inputWidth{
            display: flex;
            flex-direction: column;
            width: 30%;
        }
    }
}