@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;



.clickableData {
  background: none;
  border: none;
  padding: 0;
  color: var(--brand-01);
  cursor: pointer;
  font: inherit;
  text-align: left;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}