.queueListLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
    padding: 5px 5px;
}
.actionHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    column-gap: 10px;
    .filters{
        display: flex;
        flex-direction: row;
        width: 80%;
        column-gap: 15px;
        .filter{
            width: 45%;
        }
    }
    .actionBtns{
        display: flex;
        flex-direction: row;
        width: 20%;
        column-gap: 15px;
    }
}
.tableSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}



.nonUrgentTag{
    background-color:rgb(167, 240, 186);
    color:rgb(14, 96, 39);
}
.emergencyTag{
    background-color:#da1e28;
    color:#FFF;
}
.priorityTag{
    background-color:rgb(248,237,98);
    color:brown;
}
.flaggedPatient{
    color: orange;
}
.unflaggedPatient{
    color: black;
}