.modelLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 15px;
}
.formSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
}
.sectionHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
}
.formRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 5px;
}
.formControl{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.actionSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 5px;
}