.fhwrSlotLayout{
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    width: 100%;
}

.fhwrSlotContent{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    width: 100%;
}

.fhwrSlot{
    display: flex;
    flex-direction: column;
    width: 50%;
}