.otpDataInput{
  width: 3rem;
  height: 3rem;
  text-align: center;
}
.otpInputContainer{
   display: flex;
   flex-direction: row;
   column-gap: 5px;
}
.otpDataInputContainer{
    width: 4rem;
    height: 4rem;
}